
<%- include('../users/layouts/userHeader') %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<style>
  .swal2-toast {
  width: 800px; /* Adjust the width as needed */
  height: 70px; /* Adjust the height as needed */
  font-size: 18px;
  margin-top: 70px;
}
</style>




<main class="main">
  <div
    class="page-header text-center"
    style="background-image: url('/user/images/demos-img/bg-1.jpg')"
  >
    <div class="container">
      <h1 class="page-title">
      </h1>
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-header -->
  <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>

        <li class="breadcrumb-item active" aria-current="page">Profile</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="dashboard">
      <div class="container">
        <div class="row">
          <aside class="col-md-4 col-lg-3">
            <ul
              class="nav nav-dashboard flex-column mb-3 mb-md-0"
              role="tablist"
            >
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="tab-profile-link"
                  data-toggle="tab"
                  href="#tab-profile"
                  role="tab"
                  aria-controls="tab-profile"
                  aria-selected="true"
                  ><i class="fa-duotone fa-user"></i>&nbsp;&nbsp;&nbsp;Profile</a
                >
              </li>

              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-downloads-link"
                  data-toggle="tab"
                  href="#tab-downloads"
                  role="tab"
                  aria-controls="tab-downloads"
                  aria-selected="false"
                  ><i class="fa-duotone fa-wallet"></i>&nbsp;&nbsp;&nbsp;Wallet</i></a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-coupons-link"
                  data-toggle="tab"
                  href="#tab-coupons"
                  role="tab"
                  aria-controls="tab-coupons"
                  aria-selected="false"
                  ><i class="fa-duotone fa-gift"></i>&nbsp;&nbsp;&nbsp;Coupons</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-address-link"
                  data-toggle="tab"
                  href="#tab-address"
                  role="tab"
                  aria-controls="tab-address"
                  aria-selected="false"
                  ><i class="fa-duotone fa-address-book"></i>&nbsp;&nbsp;&nbsp;Adresses</a
                >
              </li>
              
              <li class="nav-item">
                <a class="nav-link" onclick="logout()"><i class="fa-duotone fa-arrow-right-from-bracket"></i>&nbsp;&nbsp;&nbsp;Sign Out</a>
              </li>
            </ul>
          </aside>
          <!-- End .col-lg-3 -->

          <div class="col-md-8 col-lg-9">
            <div class="tab-content">
              <div
                class="tab-pane fade show active"
                id="tab-profile"
                role="tabpanel"
                aria-labelledby="tab-profile-link"
              >
              <div class="row">        
                  
                  <div class="col-lg-6" id="formDiv">
                    <h2 class="title mb-1">Manage Your Details &nbsp;&nbsp;<i class="fa-duotone fa-address-card"></i></h2>

                    <form
                      class="contact-form mb-3"
                      id="myForm"
                    >
                      <div class="col-sm-14">
                        <label for="cname" class="sr-only">Full Name</label>
                        <input
                          name="fullname"
                          type="text"
                          class="form-control"
                          id="name"
                          value=" %>"
                          required
                        />
                      </div>
                      <div id="nameError" style="display: none; color: red;"></div>
                      <!-- End .col-sm-6 -->

                      <!-- End .row -->

                      
                        <div class="col-sm-14">
                          <label for="cphone" class="sr-only">Phone</label>
                          <input
                            name="mobile"
                            type="tel"
                            class="form-control"
                            id="phoneNumber"
                            required
                            minlength="10"
                          />
                        </div>
                        <div id="numberError" style="display: none; color: red;" ></div>
                        <!-- End .col-sm-6 -->

                      <div class="col-sm-14">
                        <label for="csubject" class="sr-only">Email Id</label>
                        <input
                          name="email"
                          type="email"
                          class="form-control"
                          id="email"
                          required
                        />
                      </div>
                      <div id="emailError" style="display: none; color: red;"></div>
                      <!-- End .row -->
                      <div id="profileSuccess" style="display: none; color: green;"></div>
                      

                      <button
                        type="submit"
                        class="btn btn-outline-primary-2 btn-minwidth-sm"
                        id="submitBtn"
                      >
                        <span>SUBMIT</span>
                        <i class="icon-long-arrow-right"></i>
                      </button>
                    </form>
                    
                  </div>
                  <div class="col-lg-6" id="changePassDiv">
                    <h2 class="title mb-1">Change Password &nbsp;&nbsp;<i class="fa-duotone fa-lock"></i></h2>

                    <form
                      class="contact-form mb-3"
                     id="passForm"
                    >
                      <div class="col-sm-14">
                        <label for="password" class="sr-only">Current Password</label>
                        <input
                        placeholder="Current Password *"
                          name="currentPass"
                          type="password"
                          class="form-control"
                          id="password"
                          
                          required
                        />
                      </div>
                      <div id="currError" style="display: none; color: red;"></div>
                      <!-- End .col-sm-6 -->

                      <!-- End .row -->

                      
                        <div class="col-sm-14">
                          <label for="password" class="sr-only">New Password</label>
                          <input
                          placeholder="New Password *"
                            name="newPass"
                            type="password"
                            class="form-control"
                            id="newPass"
                            minlength="4"
                            required
                          />
                        </div>
                        <div id="newpassError" style="display: none; color: red;"></div>
                        <!-- End .col-sm-6 -->

                      <div class="col-sm-14">
                        <label for="password" class="sr-only">Confirm Password</label>
                        <input
                        placeholder="Confirm Password *"
                          name="ConfirmPass"
                          type="password"
                          class="form-control"
                          id="conPass"
                          minlength="4"
                          required
                        />
                      </div>
                      <div id="conpassError" style="display: none; color: red;"></div>
                      <!-- End .row -->
                      
                      

                      <button
                        type="submit"
                        class="btn btn-outline-primary-2 btn-minwidth-sm"
                        id="changePass"
                      >
                        <span>SUBMIT</span>
                        <i class="icon-long-arrow-right"></i>
                      </button>
                    </form>
                    <a href="/forget"><b class="text-dark">Forget Password ?</b></a>
                  </div>
                    
                  
                  <!-- End .col-lg-6 -->
                </div>
                <!-- End .row -->
              </div>
              <!-- .End .tab-pane -->

              <div
                class="tab-pane fade"
                id="tab-orders"
                role="tabpanel"
                aria-labelledby="tab-orders-link"
              ></div>
              <!-- .End .tab-pane -->

              <div
                class="tab-pane fade"
                id="tab-downloads"
                role="tabpanel"
                aria-labelledby="tab-downloads-link"
              >
             
                <!-- End row -->
              </div>

             
              <!-- .End .tab-pane -->

              <div
                class="tab-pane fade"
                id="tab-address"
                role="tabpanel"
                aria-labelledby="tab-address-link"
              >
                <div class="row" id="addressReload">
                 
                

                  

                  <form>
                    <label>Full Name *</label>
                    <input
                      type="text"
                      name="fullname"
                      class="form-control"
                      placeholder="Full Name"
                      id="fullname"
                    />
                    <div id="fnameError" style="display: none; color: red;"></div>
                    <div class="row">
                      <div class="col-sm-6">
                        <label>Phone *</label>
                        <input
                          name="mobile"
                          type="tel"
                          class="form-control"
                          id="phone"
                          placeholder="Phone"
                          
                        />
                        <div id="phoneError" style="display: none; color: red;"></div>
                      </div>
                      <!-- End .col-sm-6 -->

                      <div class="col-sm-6">
                        <label>Pin Code *</label>
                        <input
                          name="pin"
                          type="tel"
                          class="form-control"
                          id="pin"
                          placeholder="Pincode"
                          
                        />
                        <div id="pinError" style="display: none; color: red;"></div>
                      </div>
                      <!-- End .col-sm-6 -->
                    </div>
                    <!-- End .row -->

                    <label>Email address *</label>
                    <input
                      name="email"
                      type="email"
                      class="form-control"
                      id="addressEmail"
                      placeholder="Email Id"
                      
                    />
                    <div id="addEmailError" style="display: none; color: red;"></div>
                    <label>House Name *</label>
                    <input
                      name="houseName"
                      type="text"
                      class="form-control"
                      id="houseName"
                      placeholder="House name and street name *"
                      
                    />
                    <div id="houseError" style="display: none; color: red;"></div>

                    <div class="row">
                      <div class="col-sm-6">
                        <label>City *</label>
                        <input
                          name="city"
                          type="text"
                          class="form-control"
                          id="city"
                          placeholder="City *"
                          
                        />
                        <div id="cityError" style="display: none; color: red;"></div>
                      </div>
                      <!-- End .col-sm-6 -->

                      <div class="col-sm-6">
                        <label>State *</label>
                        <input
                          name="state"
                          type="text"
                          class="form-control"
                          id="state"
                          placeholder="State *"
                          
                        />
                        <div id="stateError" style="display: none; color: red;"></div>
                      </div>
                      <!-- End .col-sm-6 -->
                    </div>
                    <!-- End .row -->

                    <button id="multiAddress" class="btn btn-outline-primary-2">
                      <span>SUBMIT</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>
                  </form>
                </div>

                <!-- End .row -->
              </div>
              <!-- .End .tab-pane -->

             
              <!-- .End .tab-pane -->
            </div>
          </div>
          <!-- End .col-lg-9 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .dashboard -->
  </div>
  <!-- End .page-content -->
</main>
<!-- End .main -->
<script src="/user/profileEdit.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   